<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Landing Page</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    </head>
    <body>
        <h1>Go away!</h1>
        <form>
            First name:<br>
            <input type="text" name="firstname" value="King">
            <br>
            Last name:<br>
            <input type="text" name="lastname" value="Magikarp">
            <br><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>
